<div class="row">

  <div class="col-sm-8 col-sm-offset-2">

    <h2>Publier un nouveau Post</h2>

    <form [formGroup]="postForm" (ngSubmit)="onSavePost()">

      <div class="form-group">

        <label for="title">Titre</label>

        <input type="text" id="title"

               class="form-control" formControlName="title">

      </div>

      <div class="form-group">

        <label for="texte">Contenu</label>

        <textarea id="texte"

               class="form-control" formControlName="texte"></textarea>

      </div>


      <button class="btn btn-success" [disabled]="postForm.invalid"

              type="submit">Publier

      </button>


    </form>

  </div>

</div>

